@import "../../scss/index.scss";

.requestSection {
  position: relative;
  background: #f7f7f7;
  height: 100vh;
  overflow-y: auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 270px;
    background: transparent linear-gradient(90deg, #221169 0%, #0a4c7c 100%);
    width: 100%;
  }
  .buyersName {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .requestAlignment {
    position: relative;
    padding: 32px 0;

    .dashboardetails {
      span {
        color: #ffffff;
        font-size: 16px;
        line-height: 40px;
        font-weight: 300;
      }

      h1 {
        padding: 15px 0 0 0;
        font-size: 33px;
        line-height: 45px;
        font-weight: 600;
        color: #ffffff;
        text-shadow: 0px 3px 6px #00000029;
        opacity: 1;

        @include breakpoint("sm-max") {
          padding: 6px 0 0 0;
        }
      }
    }

    .requestAllDetailsAlignment {
      padding: 36px 0 0 0;

      @include breakpoint("sm-max") {
        padding: 24px 0 0 0;
      }
      .responsiveTable {
        @include breakpoint("sm-max") {
          overflow-x: auto;
        }

        .requestTable {
          background-color: #fff;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 10px;
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0;

          tbody {
            white-space: nowrap;
            tr {
              border-bottom: 1px solid #e0e0e0;
              &:last-child {
                border-bottom: none;
              }
              td {
                padding: 10px;
              }
            }
            .tableToggle {
              cursor: pointer;
            }
            .tableRelative {
              position: relative;
              .tableToggleContent {
                position: absolute;
                top: 20px;
                right: 30px;
                background: #ffffff 0% 0% no-repeat padding-box;
                box-shadow: 0px 1px 17px #00000029;
                border-radius: 20px;
                min-width: 200px;
                z-index: 999;
                .content {
                  font-size: 14px;
                  color: #a19f9f;
                  border-bottom: 1px solid #dedede;
                  padding: 10px 18px;
                  &:last-child {
                    border-bottom: none;
                  }
                }
              }
            }
            .tableTR {
              cursor: pointer;
              padding: 20px;
              &:hover {
                transition: 0.3s ease all;
                background: #f7f7f7;
              }
            }
            .requestRound {
              height: 60px;
              width: 60px;
              min-width: 60px;
              border-radius: 50%;
              background-color: #eff6ff;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              color: #222;
              img{
                height: 60px;
                width: 60px;
                min-width: 60px;
                border-radius: 50%;
              }
            }

            .tableHeading {
              font-size: 16px;
              font-weight: 400;
              color: #000000;
            }

            .tableSubHeading {
              font-size: 12px;
              font-weight: 400;
              color: #000000;
            }

            .tableDate {
              font-size: 14px;
              font-weight: 400;
            }

            .tablePrgoress {
              font-size: 13px;
              font-weight: 400;
              color: #e3910d;
              background: rgb(255, 168, 29, 0.1);
              border-radius: 5px;
              padding: 4px 9px;
              max-width: fit-content;
              border-radius: 2px;
            }
            .tableActive{
              font-size: 13px;
              font-weight: 400;
              color: #E5FAE6;
              background: #E5FAE6;
              border-radius: 5px;
              padding: 4px 9px;
              max-width: fit-content;
              border-radius: 2px;
            }

            .tableAction {
              font-size: 14px;
              font-weight: 400;
              color: #fff;
              background: #fe6a57;
              font-size: 13px;
              font-weight: 400;
              border-radius: 99px;
              padding: 4px 9px;
              max-width: fit-content;
            }
          }
        }
      }
    }
  }
}
.modelOpen {
  align-items: center;
  background-color: #000000b3;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999999999;
  .popupOverlay {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 66px #00000029;
    border-radius: 30px;
    padding: 20px 100px;
    width: 800px;
    @include breakpoint("sm-max") {
      width: auto;
      padding: 20px;
      margin: 20px;
    }
    .popupHeader {
      display: flex;
      justify-content: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        @include breakpoint("sm-max") {
          width: 100px;
          height: 100px;
        }
      }
    }
    .popupContent {
      padding: 0 0 20px 0;
      @include breakpoint("sm-max") {
        padding: 0 0 10px 0;
      }
      h2 {
        margin: 0 40px;
        letter-spacing: -0.36px;
        color: #272727;
        text-align: center;
        font-size: 32px;
        padding-bottom: 30px;
        @include breakpoint("sm-max") {
          font-size: 20px;
          margin: 0 20px;
        }
      }
      textarea {
        padding: 12px;
        width: 100%;
        height: 112px;
        max-height: 150px;
        background: #f5f5f5 0% 0% no-repeat padding-box;
        border-radius: 10px;
        border: none;
        resize: none;
        @include breakpoint("sm-max") {
          height: 80px;
        }
        
      }
    }
    .popupActions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      @include breakpoint("sm-max") {
        flex-direction: column;
        gap: 10px;
      }



      .popupButtonCancel {
        letter-spacing: -0.2px;
        color: #fc6a57;
        text-transform: uppercase;
        font-size: 16px;
        background: transparent;
        border: none;
        cursor: pointer;
      }
      .popupButtonProceed {
        background: #fc6a57 0% 0% no-repeat padding-box;
        border-radius: 80px;
        padding: 8px 28px;
        border: none;
        color: #fefeff;
        cursor: pointer;
      }
    }
  }
}
